.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-header {
    width: 100vw;
}

app-form, app-line-chart{
    width: 70%;
}


* {
 margin: 0;
 padding: 0;
}
